html {
  font-size: 120%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.maindiv {
  height: auto; /* 456.5 / 16 */
  background-color: rgb(235, 240, 246);
  width: 100%;

  border: 0.125rem solid rgb(255, 132, 31); /* 2 / 16 */
}

.uppersec {
  display: flex;
  height: 23.4375rem; /* 375 / 16 */
  justify-content: space-between;
  align-items: center;
}

#box1,
#box4 {
  width: 1.25rem; /* 20 / 16 */
  height: 15rem; /* 240 / 16 */
  background-color: #132238;
}

#box2 img {
  width: 14.0625rem; /* 225 / 16 */
  height: 15rem; /* 240 / 16 */
  position: relative;
  top: 0.25rem; /* 4 / 16 */
}
#box2 {
  background-color: #d3d4d6;
}
#box3 {
  width: 50.75rem; /* 60 / 16 */
  height: 18.75rem; /* 300 / 16 */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: -0.3125rem; /* -5 / 16 */
}

.text {
  color: #2e3b4f;
}

#name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4375rem; /* 55 / 16 */
  letter-spacing: 0.125rem; /* 2 / 16 */
  margin-left: 3.125rem; /* 50 / 16 */
}

#post {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.875rem; /* 30 / 16 */
  align-self: self-start;
  margin-left: 3.125rem; /* 50 / 16 */
  letter-spacing: 0.125rem; /* 2 / 16 */
}

.inf {
  align-self: self-start;
  margin-left: 3.125rem; /* 50 / 16 */
}

.inf p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.4375rem; /* 23 / 16 */
  margin: 0.1875rem 0; /* 3 / 16 */
  letter-spacing: 0.0625rem; /* 1 / 16 */
}


.flexbox {
  width: 100%;
  height: 42.375rem; /* 550 / 16 */
  display: flex;
}

.leftsec {
  width: 40%;
  height: 100%;
  background-color: rgb(221 233 237);
}
.rightsec {
  width: 60%;

  height: 100%;
  background-color: #e7eced;
}
#bar1 {
  width: 100%;
  height: 3.125rem;
  background-color: #132238;
}
#bar2 {
  width: 100%;
  height: 3.125rem;
  background-color: #364e68;
}
.bar {
  text-align: center;
  line-height: 3.125rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  color: aliceblue;
}
#inr1{

  margin-top: -20px;
}

.leftsec p {
  font-size: 1.25rem;
  text-align: justify;
  padding: 1.125rem;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.125rem;
  line-height: 2;
}
.pin {
  width: 100%;
  font-size: 1.3125rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 4.125rem;
  padding-top: 2rem;

  font-weight: 500;
}
.pin li {
  margin-bottom: 2.5625rem;
}
#bar3 {
  width: 100%;
  height: 3.125rem;
  background-color: #0f1d32;
  margin-top: 0.625rem;
}
table {
  margin-top: 0.9375rem;
}
table,
table th,
table td {
  border-collapse: collapse;
  text-align: center;
  height: 4.375rem;
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.125rem;
}
table th {
  font-size: 1.5625rem;
}
.yr {
  width: 20%;
}
.hd {
  background-color: #20364e;
  color: aliceblue;
}
table td {
  background-color: #f4f6f7;
}
tr,
td {
  border: 0.0625rem solid black;
}

#bar5 {
  width: 100%;
  height: 3.125rem;
  background-color: #0f1d32;
}
#bar4 {
  width: 100%;
  height: 3.125rem;
  background-color: #364e68;
}
.flexbox1 {
  width: 100%;
  height: 115rem;
  display: flex;
  margin-top: 0.625rem;
}

.w {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  margin-top: 1.25rem;
}

.leftsec1 {
  width: 40%;
  height: 100%;
  background-color: rgb(221 233 237);
}
.rightsec1 {
  width: 60%;

  height: 100%;
  background-color: rgb(208, 212, 218);
}
#bar4,
#bar5 {
  text-transform: uppercase;
  font-size: 1.063rem; /* 17px / 16px = 1.063rem */
}

.skill {
  padding: 0.625rem; /* 10px / 16px = 0.625rem */
}

.skill ul {
  padding: 0.938rem; /* 15px / 16px = 0.938rem */
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.skill ul li {
  margin-bottom: 0.625rem; /* 10px / 16px = 0.625rem */
}
.srightsec {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0.938rem; /* 15px / 16px = 0.938rem */
}

.sl {
  width: 35%;
  height: 96.5%;
  background-color: rgb(56 69 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sr {
  width: 65%;
  height: 96.5%;
  background-color: #e7eced;
  display: flex;
  flex-direction: column;
}
.in {
  color: aliceblue;
  padding: 0.938rem; /* 15px / 16px = 0.938rem */
}
.inr {
  padding: 0.938rem; /* 15px / 16px = 0.938rem */
}
.inr p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
text-align: justify;
  margin-top: 1.25rem; /* 20px / 16px = 1.25rem */
}

.inr h2 {
  color: #e50606;
}

#in1 {
  position: relative;
  top: -15.5rem;
}
#in2 {
  position: relative;
  top: -23rem;
}
#in3 {
  position: relative;
  top: -9rem;
}
#in4 {
  position: relative;
  top: -9.438rem;
}
.in h2 {
  margin-bottom: 0.625rem; /* 10px / 16px = 0.625rem */
}
.in p {
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
}

#bar6 {
  width: 100%;
  height: 3.125rem; /* 50px ÷ 16px = 3.125rem */
  background-color: #0f1d32;
  margin: 0.625rem 0; /* 10px ÷ 16px = 0.625rem */
}

.hon {
  font-size: 1.25rem; /* 20px ÷ 16px = 1.25rem */
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  width: 100%;
  background-color: rgb(221 233 237);
  padding: 2.5rem; /* 40px ÷ 16px = 2.5rem */
  padding-top: 0;
  color: #060f3c;
  letter-spacing: 0.125rem; /* 2px ÷ 16px = 0.125rem */
  line-height: 2;
}

#bar7 {
  width: 100%;
  height: 3.125rem; /* 50px ÷ 16px = 3.125rem */
  background-color: #0f1d32;
  margin: 0.625rem 0; /* 10px ÷ 16px = 0.625rem */
}

.hon1 {
  font-size: 1.25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  width: 100%;
  background-color: rgb(221 233 237);
  padding: 1.5rem;
  color: #060f3c;
  letter-spacing: 0.125rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .flexbox {
    height: 60.375rem;
  }

  .flexbox1 {
    height: 157.6875rem;

    margin-top: 0.625rem;
  }

  .skill ul {
    padding: 2rem;
  }

  #in1 {
    top: -16.688rem;
  }

  #in2 {
    top: -19.5rem;
  }

  #in3 {
    top: -19.75rem;
  }
  #in4 {
    top: -18.438rem;
  }

  .sl {
    width: 42%;
  }
  .sr {
    width: 58%;
  }
  .pin {
    font-size: 1.5125rem;

    padding-top: 7rem;
  }

  #box2 {
    position: relative;
    left: 1.5rem;
  }
  #box3 {
    left: 0.8rem;
  }

  .inr p {
    
    height: 30rem;
}
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
 
  html {
    font-size: 48%;
}









}

@media print {
  

  html {
    font-size: 48%;
}
.maindiv {
  height: auto; /* 456.5 / 16 */

}
.leftsec p {
  font-size: 1.03rem;
  text-align: justify;
  padding: 1rem;
 
}
.flexbox{

  height: 45rem;
}

}
